fastapi
uvicorn[standard]

python-dotenv

pydantic
pydantic-settings

supabase

google-genai

httpx

python-multipart

pillow

opencv-python

pytesseract

numpy

geopy

rapidfuzz

python-jose[cryptography]

passlib[bcrypt]

aiofiles

requests

orjson

loguru

typing_extensions

pytest

pytest-asyncio
